{% extends 'base.html.twig' %}

{% block title %}All categories{% endblock %}

{% block body %}
<div class="container">
    <h1>Toutes les catégories: </h1>
    {% for category in categories %}
        <ul>
            <li>{{category.name}}</li>
            <a href="{{ path("category_show", {categoryName : category.name }) }}">Voir la catégorie</a>
        </ul>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
</div>
{% endblock %}